q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [7]:
#q1
l=int(input("print the number of rows:"))
for i in range(l):
    for j in range(0,i+1):
        print("ineuron ",end="")
    print()

print the number of rows:4
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [37]:
#q2
for i in range(3):
    for j in range(i,2):
        print(" "*len("ineuron"),end="")
    for k in range(0,i+1):
        print("ineuron"," "*len("ineuron"),end=" ")
    print()
    
for i in range(3):
    for j in range(0,i+1):
        print(" "*len("ineuron"),end=" ")
    for k in range(0,2-i):
        print("ineuron"," "*len("ineuron"),end=" ")
    print()

              ineuron
       ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron
                ineuron

In [2]:
l=[[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [3]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [40]:
#q3
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [41]:
#q4
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [42]:
#q5
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [52]:
#q6
for i in l:
    if type(i)==tuple  or type(i)==list or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)==dict:
        for k,v in  i.items():
            if type(k)==int:
                print("values from dict which are keys",k)
            if type(v)==int:
                print("values from dict which are values",v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
values from dict which are keys 3
values from dict which are values 6
values from dict which are keys 7
values from dict which are values 8

In [59]:
#q7
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int:
                l1.append(k)
                
            if type(v)==int:
                l1.append(v)
                

print(l1)

print("the sum of the list is :",sum(l1))

values from dict which are keys 3
values from dict which are values 6
values from dict which are keys 7
values from dict which are values 8
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 3, 6, 7, 8]
the sum of the list is : 166

In [65]:
#q8
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for k in i:
            if type(k)==int:
                if k%2==0:
                    pass
                else:
                    print(k)
    if type(i)==dict:
        for j,v in i.items():
            if type(j)==int:
                if j%2==0:
                    print("from dict keys",j)
            if type(v)==int:
                if v%2==0:
                    print("from dict values",v)

1
3
3
5
3
5
7
45
5
23
from dict values 6
from dict values 8

In [66]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [70]:
#q9
l2=[]
for i in l:
    if type(i)==list:
        for k in i:
            if k=="ineuron":
                l2.append(k)
    if type(i)==dict:
        for j in i.values():
            if j=="ineuron":
                   l2.append(j)

print(l2)

['ineuron', 'ineuron']

In [71]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 3, 6, 7, 8]

In [75]:
for i in l

1 : 1
2 : 2
3 : 5
4 : 4
5 : 3
6 : 3
7 : 3
8 : 1
45 : 1
23 : 1

In [5]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [9]:
#q10
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)== int or type(j)==str:
                l3.append(j)
    if type(i)==dict:
        for k,v in i.items():
            l3.append(k)
            print("keys got appended :",k)
            l3.append(v)
            print("values got append :",v)

print(l3)    

for i in set(l3):
    print(i,"count is : ",l3.count(i))

keys got appended : k1
values got append : sudh
keys got appended : k2
values got append : ineuron
keys got appended : k3
values got append : kumar
keys got appended : 3
values got append : 6
keys got appended : 7
values got append : 8
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
1 count is :  1
2 count is :  2
3 count is :  4
4 count is :  4
5 count is :  3
6 count is :  3
7 count is :  2
sudh count is :  1
8 count is :  1
45 count is :  1
data science  count is :  1
ineuron count is :  2
k2 count is :  1
k3 count is :  1
k1 count is :  1
23 count is :  1
kumar count is :  1

In [15]:
#q11
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [18]:
#q12
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                print("values from keys: ",k)
            if type(v)==str:
                print("values from valyes: ",v)

values from keys:  k1
values from valyes:  sudh
values from keys:  k2
values from valyes:  ineuron
values from keys:  k3
values from valyes:  kumar
ineuron
data science

In [19]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [23]:
#q13
for i in l3:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [24]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [43]:
#q14
for i in l:
    m=1
    n=1
    r=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                
                m=m*j
    print(type(i),":",m)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int:
                n=n*k
            if type(v)==int:
                r=r*v
        print("for dict the result of keys is : ",n,"and values are :",r)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
<class 'list'> : 24
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science ']

IndexError: list index out of range

for dict the result of keys is :  21 and values are : 48

<class 'list'> : 24
<class 'tuple'> : 720
<class 'tuple'> : 2520
<class 'set'> : 20700
<class 'dict'> : 1
<class 'list'> : 1

In [40]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [44]:
l[3]

{4, 5, 23, 45}